---
id: Home
layout: default
title: tronixworkshop | fun electronics projects
description: Tronixworkshop is a blog about the electronics projects
  created and built in my home workshop using anything I can get my hands on from
  555 timers to microcontrollers from FPGA's to Operational Amplifiers.
image: "/images/workshop/lab_img138.jpg"
author: Andrew Devanney
---

{% for post in paginator.posts %}
 {% include blog-listing.html %}

 <div align="center" class="leader-ads">
     {% include ads/leader-bottom.html %}
 </div>

{% endfor %}
