<aside class="widget about-me-widget">
    <div class="about-me-img">

        <div class="about-me-content text-center">
            <img src="/assets/images/me.jpg" alt="" class="img-me">

            <h3 class="text-uppercase">Andrew Devanney</h3>

            <p>Andrew Devanney is a ful time professional software developer and electronics hobbyist</p>
        </div>
    </div>
    <div class="social-share">
        <ul class="text-center text-center">
            {% include social-links.html %}
        </ul>
    </div>
</aside>
