<aside class="widget about-me-widget">
    <div class="about-me-img">

        <div class="about-me-content text-center">
            <img src="/assets/images/me.jpg" alt="" class="img-me">

            <h3 class="text-uppercase">Andrew Devanney</h3>

            <p>Andrew Devanney is a ful time professional software developer and electronics hobbyist</p>
        </div>
    </div>
    <div class="social-share">
        <ul class="text-center text-center">
            <li><a class="s-facebook" href=""><i class="fa fa-facebook"></i></a></li>
            <li><a class="s-twitter" href=""><i class="fa fa-twitter"></i></a></li>
            <li><a class="s-instagram" href=""><i class="fa fa-instagram"></i></a></li>
        </ul>
    </div>
</aside>
