<footer class="footer-widget-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <aside class="footer-widget">
                    <div class="about-img"><img src="" alt="{{site.title}}"></div>
                    <div class="about-content">
                      Tronixworkshop is a blog about the electronics projects
                      I create and build in my workshop using anything I can get my hands on from
                      555 timers to microcontrollers from FPGA's to Operational Amplifiers.
                    </div>
                </aside>
            </div>
        </div>
    </div>
    <div class="footer-copy">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                      &copy; 2016 Tronixworkshop.io
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- js files -->

<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.stickit.min.js"></script>
<script type="text/javascript" src="/assets/js/menu.js"></script>
<script type="text/javascript" src="/assets/js/scripts.js"></script>
