<footer>
<div class="footer-widget-section">
    <div class="container">
        <div class="row">
            <div class="col-md-4">

              <aside class="footer-widget widget_text">
                  <h3 class="widget-title text-uppercase">About</h3>
                  <div class="about-img">
                    <img src="/assets/images/footer-logo.png" alt="{{site.title}}">
                  </div>
                  <div class="about-content">
                    Tronixworkshop is a blog about the electronics projects
                    created and built in my home workshop using anything I can get my hands on from
                    555 timers to microcontrollers from FPGA's to Operational Amplifiers.
                  </div>
              </aside>
            </div>


            <div class="col-md-4">
              <aside id="tag_cloud-2" class="footer-widget widget_tag_cloud">
                <h3 class="widget-title text-uppercase">Tags</h3>
                <div class="tagcloud">

                 {% for tag in site.tags %}
                   {% assign tag1 = tag | first %}
                    {% for mytag in site.my_tags %}
                     {% if tag1 == mytag.slug %}
                        <a href="{{ mytag.url }}">{{ mytag.name }}</a>
                      {% endif %}
                    {% endfor %}
                  {% endfor %}

                </div>
                </aside>
            </div>

        </div>
    </div>
</div>

    <div class="footer-copy">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="text-center">
                      &copy; 2016 Tronixworkshop.io
                    </div>
                </div>
            </div>
        </div>
    </div>

</footer>
<!-- js files -->

<script type="text/javascript" src="/assets/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/assets/js/owl.carousel.min.js"></script>
<script type="text/javascript" src="/assets/js/jquery.stickit.min.js"></script>
<script type="text/javascript" src="/assets/js/menu.js"></script>
<script type="text/javascript" src="/assets/js/scripts.js"></script>
