<li class="text-center">
  <a class="s-facebook" href="">
    <i class="fa fa-facebook"></i>
  </a>
</li>

<li class="text-center">
  <a class="s-twitter" href="">
    <i class="fa fa-twitter"></i>
  </a>
</li>

<li class="text-center">
  <a class="s-google-plus" href="">
      <i class="fa fa-google-plus"></i>
  </a>
</li>

<li class="text-center">
  <a class="s-linkedin" href="">
    <i class="fa fa-github"></i>
  </a>
</li>

<li class="text-center">
  <a class="s-instagram" href="">
    <i class="fa fa-instagram"></i>
  </a>
</li>
