<li class="text-center">
  <a class="s-facebook" href="https://www.facebook.com/profile.php?id=100014093536736">
    <i class="fa fa-facebook"></i>
  </a>
</li>

<li class="text-center">
  <a class="s-twitter" href="https://twitter.com/tronixworkshop">
    <i class="fa fa-twitter"></i>
  </a>
</li>

<li class="text-center">
  <a class="s-github" href="https://github.com/tronixworkshop">
    <i class="fa fa-github"></i>
  </a>
</li>

<li class="text-center">
  <a class="s-instagram" href="https://www.instagram.com/tronixworkshop/">
    <i class="fa fa-instagram"></i>
  </a>
</li>
