<div class="social-share">

      <p class="social-share-title pull-left text-capitalize">

        {% if include.author %} By
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ include.author }}</span>
        </span>
        {% endif %}

        On
        <time datetime="{{ include.datePublished | date_to_xmlschema }}" itemprop="datePublished">
          {{ include.datePublished |  date: '%B %d, %Y' }}
        </time>
        <meta itemprop="dateModified" content="{{ include.dateModified | date_to_xmlschema }}" />
      </p>

      <ul class="text-center pull-right">
          {% include social-links.html %}
      </ul>
</div>
