
/*===========
blog css
=============*/
.decoration a {
    color: #60c7eb;
    border: 1px solid #60c7eb;
    font-size: 14px;
    height: 35px;
    width: 120px;
    line-height: 35px;
    padding: 0;
    border-radius: 0;
    margin: 30px 6px 30px 0;
}

.decoration a:hover {
    color: #fff;
    border: 1px solid #60c7eb;
    background-color: #60c7eb;
}

.top-comment {
    padding: 30px;
    background-color: #fff;
    color: #212121;
    margin-bottom: 20px;
}

.top-comment img {
    padding-right: 15px;
}

.top-comment p {
    line-height: 24px;
}

.single-blog-box {
    position: relative;
    text-align: center;
    margin: 30px 0;
}

.next-previous-post {
    background-color: #fff;
    color: #212121;
    margin-bottom: 10px;
    overflow: hidden;
    padding: 20px;
}
