
/*===================
Categories
======================*/
.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget ul li a {
    line-height: 26px;
    font-size: 12px;
    font-weight: 500;
    color: #323232;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Merriweather', serif;
    transition: all 0.33s;
}

.widget ul li a:hover {
    color: #00BFF3
}

.widget.border ul li {
    border-bottom: 1px solid #eeeeee;
    padding: 6px 0 6px 12px;
    position: relative;
}

.widget.border ul li:first-child {
    padding-top: 0;
}

.widget ul li:last-child {
    border-bottom: 0;
    padding-bottom: 0;
}
