/*=======
footer
========*/

.footer-widget-section {
    color: #fff;
    background: #333333;

}

.footer-widget .widget-title {
    color: #fff;
}

.footer-widget {
    padding: 70px 0;

}

.about-content {
    padding-top: 35px;
    line-height: 24px;
    font-family: 'Merriweather', serif
}

.address {
    padding-top: 20px;
    font-weight: 600;

}

.address h4 {
    font-size: 14px;
}

.address p {
    line-height: 24px;
    font-size: 13px;
    font-weight: 500;
    margin: 0;
}

.footer-copy {
    background: #222222;
    padding: 15px 0;
    color: #e2e2e2;
    line-height: 30px;
    font-family: 'Merriweather', serif;
    font-size: 13px;
}

.footer-copy a {
    color: #e2e2e2;
}

.footer-copy a:hover {
    color: #60c7eb;
    text-decoration: none;
}

.footer-copy .fa {
    color: #FF6C6C;
    font-size: 12px;
    margin: 1px;
}
