
/*============
popular post
=============*/

.popular-post {
    border-bottom: 1px solid #eee;
    padding: 25px 0 20px;

}

.popular-post:last-child {
    border-bottom: 0 solid #eee;
    padding-bottom: 0;

}

.widget .popular-post:first-of-type {
    padding-top: 0;
}

.p-content a {
    font-size: 12px;
    color: #333333;
    text-decoration: none;
    display: block;
    font-weight: 600;
    transition: all 0.44s;
}

.p-content a:hover {
    color: #00BFF3
}

.p-content span {
    color: #666666;
    font-size: 12px;
    font-style: italic;
}

.popular-img img {
    width: 100%;

}

.popular-img {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.media .popular-img {
    position: relative;
    width: 100%;
    margin-bottom: 15px;
}

.popular-img:hover .p-overlay {
    opacity: 1;
}

.p-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 0;
    -webkit-transition: all 0.44s;
    transition: all 0.44s;
}
