---
layout: default
---

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-content">
    <header class="entry-header text-center">
      <h1 class="entry-title" itemprop="name headline">{{page.title}}</h1>
    </header>

    <div class="post-thumb">
      <img src="{{page.image}}" alt="{{site.title}}-electronic-lab">
    </div>

    <div class="download-button">
      <a class="btn btn-default" href="https://github.com/tronixworkshop/tronixworkshop.github.io">
       <i class="fa fa-github fa-2x download-button-ico" aria-hidden="true"></i>
        <span class="download-button-text">Download On GitHub</span>
      </a>
    </div>

    <div class="entry-content" itemprop="articleBody">
      {{ content }}
    </div>


      {% include social-share.html author = page.author datePublished = page.date %}


  </div>
</article>
