<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/WebPage" lang="en">

  {% include head.html %}

  <body>
  <!--nav start-->
    {% include nav.html %}
  <!-- end nav-->

    <!--main content start-->
    <div class="main-content">
        <div class="container">

          <div align="center" class="leader-ads">
            {% include ads/leader-top.html %}
          </div>

            <div class="row">
              <div class="col-md-8">
                {{ content }}
              </div>
              <div class="col-md-4" data-sticky_column>
                {% include sidebar.html %}
              </div>
            </div>

          <div align="center" class="leader-ads">
              {% include ads/leader-bottom.html %}
          </div>

        </div>
    </div>
    <!-- end main content-->

  <!-- footer start-->
    {% include footer.html %}
  <!-- end footer start-->

  {% include analytics.html %}

  </body>

</html>
