---
layout: default
---

{% assign category = site.my_categories | where: "slug", page.category %}
{% assign category = category[0] %}

  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="post-thumb">
          <img src="{{post.image}}" alt="{{site.title}}-electronic-lab">
      </div>
      <div class="post-content">
          <header class="entry-header text-center text-uppercase">
              <h6><a href="{{ category.url }}">{{ category.name }}</a></h6>
              <h1 class="entry-title" itemprop="name headline">{{page.title}}</h1>
          </header>
          <div class="entry-content" itemprop="articleBody">
              {{ content }}
          </div>

         <div class="decoration">
            {% if category %}
                {% capture category_content %}
                <a class="btn btn-default" href="{{ category.url }}">{{ category.name }}</a>
                {% endcapture %}
                    <p>{{ category_content }}</p>
            {% endif %}
         </div>

         {% include social-share.html author = page.author datePublished = page.date %}

      </div>
  </article>

  {% include disqus.html %}
