---
layout: default
---

{% assign post = page %}

{% assign category = site.my_categories | where: "slug", post.category %}
{% assign category = category[0] %}

  <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
      <div class="post-thumb">
          <img src="{{post.image}}" alt="{{post.title | slugify}}">
      </div>
      <div class="post-content">
          <header class="entry-header text-center">
            <h1 class="entry-title text-uppercase" itemprop="name headline">{{post.title}}</h1>
            <h2>{{ post.sub-heading }}</h2>
            <h6 class="text-uppercase"><a href="{{ category.url }}">{{ category.name }}</a></h6>
          </header>
          <div class="entry-content" itemprop="articleBody">
              {{ content }}
          </div>

        {% if category %}
            {% capture category_content %}
            <a class="btn btn-default" href="{{ category.url }}">{{ category.name }}</a>
            {% endcapture %}
        {% endif %}

        {% for post_tag in post.tags %}
          {% assign tag = site.my_tags | where: "slug", post_tag %}
          {% if tag %}
            {% assign tag = tag[0] %}
                {% capture tags_content_temp %}
                {{ tags_content }}
                    <a class="btn btn-default" href="{{ tag.url }}">{{ tag.name }}</a>
                {% endcapture %}
            {% assign tags_content = tags_content_temp %}
          {% endif %}
        {% endfor %}

        <div class="decoration">
            <p>
              {{ category_content }}{{ tags_content }}
            </p>
        </div>

       {% include social-share.html author = post.author datePublished = post.date %}

      </div>

     {% include post-navigation.html %}

  </article>

     {% include disqus.html %}
